<app-navbar *ngIf="informacionJuego.state=='success'" [informacionJuego]="informacionJuego" [titulo]="['Encuentros']" [idParticipante]="idParticipante" [idQuiniela]="idQuiniela"></app-navbar>
<div class="container" *ngIf="informacionJuego.state=='success'">
    
    <ng-container *ngIf="fasesJuego.state=='success'">
        <div class="row">
       
            <div class="col s12 l12 xl12"  *ngFor="let d of fasesJuego.data | orderBy: order" >
                <app-grupos [fase]="d"></app-grupos>
            </div>
        </div>
    </ng-container>


</div>