<div class="row" style="margin-top: 4%;">
    <div class="col m4 offset-m4 s12">
        <div class="card">
            <div class="card-content container">

                <div class="row" style="margin-top: 5%;">
                    <div class="col s12 m6 offset-m3 l4 offset-l4 z-depth-6">
                        <img class="center" src="assets/images/wc.png" height="90px" alt="">
                    </div>

                </div>



                <form *ngIf="pantalla=='login'" [formGroup]="loginForm">

                    <div class="row">
                        <div class="col s12 center" style="margin-top: 8%;">


                            <h5 class="title-session">Jugar Quiniela</h5>
                            <p class="flow-text">
                                Utiliza tu código Asignado
                            </p>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" placeholder="Código" formControlName="codigo">
                            <a class="link pink-text text-darken-4 left" (click)="pantalla='olvideCredenciales'"
                                style="cursor: pointer;">
                                <strong>¿Has olvidado tu código?</strong>
                            </a>


                        </div>

                        <div class="col s12" style="margin-top: 20px; margin-bottom: 70px">

                            <button class="btn waves-effect  pink darken-3 waves-light right col s12" type="button"
                                (click)="submit()">
                                Ingresar
                            </button>

                            <p class="" style="margin-top: 20%;" *ngIf="idQuiniela">
                                ¿No tienes código?
                                <a class="link " (click)="clickIrARegistrate()">

                                    Registrate Aqui
                                </a>
                            </p>
                        </div>




                    </div>




                </form>

                <form *ngIf="pantalla=='registrate'" class="row" [formGroup]="registrateForm"
                    (ngSubmit)="submitRegistrate()">
                    <div class="col s12 center" style="margin-top: 8%;">


                        <h5 class="title-session">Registrate</h5>
                        <p class="flow-text">
                            Por favor ingresa tus datos para participar
                        </p>
                    </div>

                    <div class="col-md-12 ">


                        <input type="text" placeholder="Nombre completo" class="form-control" formControlName="nombre"
                            style="margin-top: 30px;">

                        <input type="text" placeholder="Email" class="form-control" formControlName="correo">

                    </div>


                    <div class="col-md-12">
                        <button class="btn  pink darken-3 col s12" style="margin-top: 20px;"
                            type="submit">Registrarme</button>
                        <br>
                        <button (click)="clickIrARegistrate()" *ngIf="estado!='register'" style="margin-top: 20px;"
                            class="btn grey darken-2 col s12" type="button">Regresar</button>
                        <br>
                        <br>
                    </div>



                </form>

                <form *ngIf="pantalla=='olvideCredenciales'" class="row" [formGroup]="olvidoForm"
                    (ngSubmit)="olvidoCredencial()">
                    <div class="col s12 center" style="margin-top: 8%;">


                        <h5 class="title-session">Olvide mi código</h5>
                        <p class="flow-text">
                            Por favor ingresa tus datos para recuperar código
                        </p>
                    </div>

                    <div class="col-md-12 ">
                        <input type="text" placeholder="Email" class="form-control" formControlName="correo">
                    </div>


                    <div class="col-md-12">
                        <button class="btn  pink darken-3 col s12" style="margin-top: 20px;" type="submit">Solicitar
                            Codigo</button>
                        <br>
                        <button (click)="clickIrARegistrate()" style="margin-top: 20px;"
                            class="btn grey darken-2 col s12" type="button">Regresar</button>
                    </div>



                </form>


                <div class="row">
                    <div class="col-s12">
                        <p class="center grey-text text-darken-2">
                            Derechos reservados &copy;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>